<br>

<div class="bmm-event-label">
    <b>Dokumentum címe</b>: <span class="bmm-event-data">{{ doc[3] }}</span>
</div>

<div class="bmm-event-label">
    <b>Publikálás dátuma</b>: <span class="bmm-event-data">{{ doc[2] }}</span>
</div>

<div class="bmm-event-label">
    <b>Megnyitás</b>: <a href="{{ doc[4] }}" class="bmm-event-data">Kattints ide!</a>.
</div>

<div class="bmm-event-label">
    <b>Letöltés</b>: <a href="{{ doc[5] }}" class="bmm-event-data">Kattints ide!</a>.
</div>

<div class="bmm-event-label">
    <b>Egyezések száma</b>: {{ doc[10] }}
</div>

<div class="bmm-event-label">
    <b>Első egyezések</b>:
    <ul>
    {% for result in doc[9] %}
        <li>"{{ result["before"] }}<b>{{ result["common"] }}</b>{{ result["after"] }}"</li>
    {% endfor %}
    </ul>
</div>

<br>
